%ul
  %li
    = link_to I18n.t("views.dashboard.menu.tickets"), dashboard_tickets_path
  %li
    = link_to I18n.t("views.dashboard.menu.products"), dashboard_products_path
  %li
    = link_to I18n.t("views.dashboard.menu.magazines"), dashboard_magazines_path
%ul
  %li
    = link_to I18n.t("views.dashboard.menu.account"), dashboard_account_path
  %li
    = link_to I18n.t("views.dashboard.menu.balance"), ""
