- form.inputs do
  = form.input :full_name, :label => 'Full name'
  = form.input :birthday, :label => 'Birthday'
  = form.input :sex, :label => 'Sex'
  = form.input :family, :label => 'Family'
  = form.input :education, :label => 'Education'
  = form.input :additional_education, :label => 'Additional education'
  = form.input :personal_qualities, :label => 'Personal qualities'
  = form.input :skills, :label => 'Skills'
  = form.input :job, :label => 'Job'
  = form.input :experience, :label => 'Experience'
  = form.input :additional_information, :label => 'Additional information'
