%h2
  = I18n.t("log_in")
- form_for @user_session, :html => {:class => "login_form content"} do |form|
  = form.error_messages
  %p
    = label_tag :email
    %br
    = text_field "user_session", :email, :class => "text"
  %p
    = label_tag :password, "Пароль"
    %br
    = password_field "user_session", :password, :class => "text"
  %p
    = submit_tag "Войти", :class => "submit"
%p
  = I18n.t("forgot_your_password")
  ?
  = link_to I18n.t("recover_your_password.title"), new_password_reset_path, :title => I18n.t("recover_your_password.title")

