<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="ru" xmlns="http://www.w3.org/1999/xhtml" lang="ru">

  <head>
    <title>New center - Адмиистрирование</title>
	  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	  <meta name="keywords" content="" />
	  <meta name="description" content="" />

    <%= stylesheet_link_tag  "formtastic", "formtastic_changes", "jquery-ui", "layout" %>
    <%= javascript_include_tag "jquery", "jquery-ui", "jquery.ui.datepicker-ru" %>

  </head>

  <body>
    <div id="wrap">

      <div id="content">
        <div id="flash">
          <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :class => "flash_#{name}" %>
          <%- end -%>
        </div>
        <div><%= yield %></div>
      </div>

      <div id="sidebar">
        <%= render "shared/user_panel" %>
        <div id="footer"></div>
      </div>

  </div>
</body>
</html>
